@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  background-color: #1F2937;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
}

.hero {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.info-text {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.infos {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  gap: 10px;
}

.img {
  width: 150px;
  height: 150px;
  border: 3px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 15px;
} 

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  padding: 0 200px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: lighter;
}

.author {
  align-self: flex-end;
  font-size: 24px;
  color: #1F2937;
  font-weight: bold;
}

button {
  padding: 5px 20px;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a, .hero-secondary {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}